<%= form_with(model: [expense_report]) do |form| %>

    <% if @expense_report.errors.any? %>
        <% @expense_report.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>

    <div>
    <%= form.label :creation_date %><br>
    <%= form.date_field :creation_date %>
    </div><br>
    <div>
    <%= form.label :total_amount %><br>
    <%= form.number_field :total_amount %>
    </div><br>
    <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    </div><br>
    <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['Submitted for Approval', 'Approved', 'Partially Approved', 'Rejected'] %>
    </div><br><br><br>

    <%= form.submit %>

<% end %>
